body {
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.app {
    background-color:skyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  80px 1fr 1fr 1fr 1fr 1fr;
}

nav {
    display: flex;
    justify-content: flex-end;
}

main {
    grid-column: 1 / 5;
}